@-webkit-keyframes ts-ext-btn-rotate {
    100% {
        .transform(rotate(90deg));
    }
}
@button-color: #BED4FF;
.ts-btn-container{
    display: inline-block;
    margin-left: 10px;
    color: #BED4FF;
    cursor: pointer;
    
    .transition-add(color .1s ease-in-out);
    
    &:hover{
/*        .prefix(transform-origin, 50% 50%);
        .prefix(animation, ts-ext-btn-rotate .5s ease-in-out 0s 1);*/
        color: lighten(@button-color, 5%);
        
        &:active{
            color: #fff;
        }
    }
}

.ts-add-tag-container{
    display: inline-block;
    vertical-align: top;
    
    .ts-tag-btn{
        display: block;
        
        span{
            font-style: italic;
            color: #666;
            border-bottom: 1px dashed;
            cursor: pointer;
        }
    }
    
    .ts-tag-control-btn{
        display: block;
        margin-bottom: 10px;
        
        span{
            color: #444;
            border-bottom: 1px dashed;
            cursor: pointer;
            
        }
    }
}